.tabs {
    border-bottom: 1px solid var(--marble);
    text-transform: capitalize;
}

.tab {
    background-color: var(--porcelain);
    color: var(--turquoise);
    text-align: center;
    border-radius: 2px;
}

.tab.active {
    color: var(--ebony);
    border-left: 1px solid var(--platinum);
    border-right: 1px solid var(--platinum);
    border-bottom: 4px solid var(--turquoise);
}

.tab a {
    padding: 0.5em;
    display: block;
    color: inherit;
    font: inherit;
    text-underline-position: inherit;
}

.tab:hover {
    background-color: var(--blue-garnet);
    color: var(--amphora-white);
}

.tab a:hover {
    background-color: var(--blue-garnet);
    color: var(--amphora-white);
}

.tab:active a {
    background-color: var(--turquoise);
    color: var(--amphora-white);
}