@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<a class="btn btn-lg btn-info float-right" href="https://amphoradata.com/contact-us">Request Access</a>
<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col">
        <h4>Create a new account.</h4>
        <hr />
        @if(Model.Organisation != null)
        {
            <small> You are joining @Model.Organisation.Name </small>
        } 
        else
        {
            <small> You will be promted to create a new organsation. </small>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.FullName"></label>
                <input asp-for="Input.FullName" class="form-control" placeholder="Jane Citizen"/>
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <div class="form-group-prepend">
                    <label asp-for="Input.About" class="control-label"></label>
                </div>
                <textarea asp-for="Input.About" class="form-control" aria-label="About You"></textarea>
                <span asp-validation-for="Input.About" class="text-danger"></span>
                <small id="aboutHelp" class="form-text text-muted">A little about yourself</small>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <div class=form-group>
                <div class="row align-items-center">
                    <div class="col-1">
                        <input asp-for="AcceptServiceAgreement" class="form-control" />
                    </div>
                    <div class="col-11 align-middle">
                        <div class="w-100">
                            I accept the 
                            <a href="#" data-toggle="modal" data-target="#serviceAggreement">
                                Amphora Data Service Agreement
                            </a>
                        </div>
                    </div>
                </div>
                <span asp-validation-for="AcceptServiceAgreement" class="text-danger"></span>
            </div>
            <div class="modal fade" id="serviceAggreement" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <partial name="ServiceAgreementPartial" />
            </div>

            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </form>
    </div>
    <div class="col-md-6 col align-self-center">
        <img class="img-fluid mx-auto d-block" src="~/images/Amphora_Black.svg" >
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
