@page
@model UserMissingModel
@{
    ViewData["Title"] = "Unknown User";
}

<div id="main" class="container">

    <div class="row">
        <div class="col text-center">
            <h1>That user doesn't exist :( </h1>
        </div>
    </div>
</div>
