@page
@model Amphora.Api.Areas.Organisations.Pages.AcceptInvitationModel

@if(Model.InvitationAccepted)
{
    <h1>You're now a member of @Model.Organisation.Name !</h1>
}
else
{
    <h1>I'm sorry, something went wrong </h1>
}