@page
@model Amphora.Api.Areas.Organisations.Pages.CreateModel

@{
    ViewData["Title"] = "Create Organisation";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Create a new Organisation</h2>
            @if(Model.Invitation != null)
            {
                <a class="btn btn-success float-right" asp-page="./Join" asp-route-orgId="@Model.Invitation?.TargetOrganisation?.Name">
                    Join @Model.Invitation?.TargetOrganisation?.Name
                </a>
            }
            <a class="btn btn-link btn-lg" asp-area="Organisations" asp-page="./Index">Find my Organisation</a>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Name" class="control-label"></label>
                    <input asp-for="Input.Name" class="form-control" placeholder="Your Organisation's Name"/>
                    <span asp-validation-for="Input.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input class="form-control-file" type="file" name="files" accept="image/jpeg">
                    <small class="form-text card-text text-muted">Choose a Profile Picture.</small>
                </div>
                <div class="form-group">
                    <label asp-for="Input.About" class="control-label"></label>
                    <textarea asp-for="Input.About" class="form-control" aria-label="About Your Organisation" placeholder="Tell us about your org"></textarea>
                    <span asp-validation-for="Input.About" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.WebsiteUrl" class="control-label"></label>
                    <input asp-for="Input.WebsiteUrl" class="form-control" placeholder="https://mycompany.com" />
                    <span asp-validation-for="Input.WebsiteUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div>Address</div>
                    <div class="body ui-widget">
                        <input id="autoComplete" asp-for="Input.Address" class="form-control" type="text" tabindex="1">
                    </div>
                    <div class="selection"></div>
                </div>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmationModal">
                Create New Organisation
                </button>

                <!-- Modal -->
                <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 id="confirmationModalLabel" class="modal-title text-primary">
                                    You are creating a new Organisation!
                                </h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>
                                    You will become the <em>first user and administrator</em> of a <strong>new</strong> Amphora Organisation.
                                    If you are not the first person in your team to join Amphora Data, you should consider pressing 'Cancel' below, and requesting an invitation from your Organisation's administrator.
                                </p>
                            </div>
                            <div class="modal-footer">
                                <div class="form-group">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <input type="submit" value="Create New Organisation" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_AutocompleteImportPartial" />
    <script src="~/js/geo.js"></script>
    <script>
        const url = '/Market/LocationSearch';
        autocompleteGeoSearch(null, url)
    </script>
}