@page
@model Amphora.Api.Areas.Organisations.Pages.IndexModel


<div id="main" class="container">
    <div class="row main-header">
        <div class="col">
            <span>
                <h1 class="display-4">Organisations</h1>
                <a asp-page="./Create"><button class="btn btn-primary">Create</button></a>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">Information</h5>
                </div>
                <div class="card-body">
                    <p>
                        <em>Organisations</em> are companies or farms operating within the Amphora ecosystem.
                    </p>                                       
                </div>
            </div>
        </div>
        <div class="col">
            <table id="entity-table" class="table table-borderless table-striped">
                <thead>
                    <tr>
                    <th scope="col">Org Name</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var entity in Model.Orgs)
                    {
                     <tr class="entity-item">
                        <th scope="row"> @entity.Name </th>
                        <td>  
                            <a asp-area="Organisations" asp-page="/Detail" asp-route-id="@entity.Id"> 
                                <button class="btn btn-link text-success"><i class="fas fa-info-circle"></i></button> 
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
