@page
@model Amphora.Api.Areas.Organisations.Pages.IndexModel


<div id="main" class="container">
    <div class="row main-header">
        <div class="col">
            <span>
                <a class="btn btn-primary float-right" asp-page="./Create">Create New</a>
                <h2>Find an Organisation</h2>
            </span>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="get">
                <div class="input-group border rounded-pill p-1">
                    <input class="form-control bg-none border-0" type="search" asp-for="Term" class="form-control" placeholder="Search for an Organisation..."/>
                    <div class="input-group-append border-0">
                        <button id="secondary-search-button" type="submit" class="btn btn-link">
                            <i class="icon fa fa-search"></i>
                        </button>
                    </div>
                    <span asp-validation-for="Term" class="text-danger"></span>
                </div>
                <hr/>
            </form>
            <table id="entity-table" class="table table-borderless table-striped">
                @if(Model.Orgs?.Count == 0)
                {
                    <p>None</p>
                }
                else
                {
                    <tbody>
                        @foreach (var entity in Model.Orgs)
                        {
                            @await Component.InvokeAsync("OrganisationRow", new {org = entity, isTable = true})
                        }
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>
