@page
@model Amphora.Api.Areas.Organisations.Pages.IndexModel


<div id="main" class="container">
    <div class="row main-header">
        <div class="col">
            <span>
                <a class="btn btn-primary float-right" asp-page="./Create">Create New</a>
                <h2 class="display-4">Find an Organisation</h2>
            </span>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form method="get">
                <div class="form-group">
                    <label>Filter</label>
                    <input asp-for="Name" class="form-control" placeholder="An Organisation's Name"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <hr/>
            </form>
            <table id="entity-table" class="table table-borderless table-striped">
                @if(Model.Orgs?.Count == 0)
                {
                    <p>None</p>
                }
                else
                {
                    <tbody>
                        @foreach (var entity in Model.Orgs)
                        {
                        <tr class="entity-item">
                            <th scope="row"> @entity.Name </th>
                            <td>  
                                <a asp-area="Organisations" asp-page="/Detail" asp-route-id="@entity.Id"> 
                                    <button class="btn btn-link text-success"><i class="fas fa-info-circle"></i></button> 
                                </a>
                            </td>
                        </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>
