@page
@model Amphora.Api.Areas.Organisations.Pages.RequestToJoinPageModel
@{
    ViewData["Title"] = "Request to Join " + Model.Organisation.Name;
}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Would you like to join @Model.Organisation.Name ?</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <form method="post" asp-route-id="@Model.Organisation.Id">
                <input type="submit" value="Yes"/>
            </form>
            @if(Model.Succeeded)
            {
                <div>
                    <h2>Congratulations</h2>
                    <p>Your request has been sent. Please wait for confirmation.</p>
                </div>
            }
        </div>
    </div>

</div>
