@page
@model Amphora.Api.Areas.Organisations.Pages.SetRoleModel

<div class="container">
    <div class="row">
        <div class="col">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if(Model.Succeeded)
            {
                <div>
                    <h2>Congratulations</h2>
                </div>
                
                <p>@Model.TargetMembership.User?.ContactInformation?.FullName is now a @Model.TargetMembership.Role.ToString()</p>
            }
        </div>
    </div>

</div>
