@page
@model Amphora.Api.Pages.Market.IndexModel
@{
    ViewData["Title"] = "Market";
}

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1 class="display-4">Data Market</h1>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <form asp-route-term="@Model.Term" method="get">
                <div class="input-group mb-4 border rounded-pill p-1">
                    <input type="search" placeholder="What're you searching for?" asp-for="Term" aria-describedby="button-addon3" class="form-control bg-none border-0">
                    <div class="input-group-append border-0">
                        <button id="button-addon3" type="submit" class="btn btn-link text-success"><i class="icon fa fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header text-center">
                    <p class="card-title">Filters</p>
                </div>
                <div class="card-body">
                        <div class="form-group"> 
                            <input id="show-amphorae" asp-for="ShowTemporae" type="checkbox">
                            <label for="show-amphorae">Amphorae</label>
                        </div>
                        <div class="form-group"> 
                            <input id="show-temporae" asp-for="ShowAmphorae" type="checkbox">
                            <label for="show-temporae">Temporae</label>
                        </div>
                </div>
            </div>
        </div>
    <div class="col-9">
        <div>
            <div>
                <ul class="list-group">
                @foreach (var entity in Model.Entities)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <span class="badge badge-primary badge-pill">$@entity.Price</span>
                        @entity.GetEntityType()
                        <b> @entity.Title </b>
                        @entity.Description
                    </li>
                }
                </ul>
            </div>
        </div>
    </div>
  </div>
</div>

