@page
@{
    ViewData["Title"] = "Market";
}

<div class="text-center">
    <h1 class="display-4">The Market</h1>
    <p> This is where you could search for data, click to view details, and eventually purchase.</p>
</div>
