@page
@model Amphora.Api.Areas.Amphorae.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<a asp-page="./Index"><button class="float-right btn btn-secondary">Cancel</button></a>
<h2>Package your data</h2>
<h4>Create a new Amphora</h4>
<hr />
<div class="container">
    <div class="row">
        <div class="col-md">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="AmphoraDto.Name" class="control-label"></label>
                    <input asp-for="AmphoraDto.Name" class="form-control" placeholder="What data are you packaging?" />
                    <span asp-validation-for="AmphoraDto.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AmphoraDto.Description" class="control-label"></label>
                    <textarea asp-for="AmphoraDto.Description" class="form-control" rows="4" placeholder="Go into detail..."></textarea>
                    <span asp-validation-for="AmphoraDto.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AmphoraDto.Price" class="control-label"></label>
                    <input asp-for="AmphoraDto.Price" class="form-control" placeholder="You can charge a monthly fee." />
                    <span asp-validation-for="AmphoraDto.Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AmphoraDto.Labels" class="control-label"></label>
                    <input asp-for="AmphoraDto.Labels" class="form-control" placeholder="Choose 2 or 3 labels to help categorise the data."/>
                    <span asp-validation-for="AmphoraDto.Labels" class="text-danger"></span>
                </div>
                @if(@Model.TermsAndConditions.Any())
                {
                <div class="form-group">
                    <label asp-for="AmphoraDto.TermsAndConditionsId"></label>
                    <select class="custom-select" asp-for="AmphoraDto.TermsAndConditionsId" asp-items="Model.TermsAndConditions"></select> 
                    <span asp-validation-for="AmphoraDto.TermsAndConditionsId" class="text-danger"></span>
                </div>
                }
                <div class="form-group">
                    <div class="row">
                        <div class="col-2">
                            <label>GeoLocation</label>
                        </div>
                        <div class="col-6 body ui-widget">
                            <input id="autoComplete" type="text" tabindex="1">
                        </div>
                        <div class="selection"></div>
                        <div class="col-sm-2">
                            <label asp-for="AmphoraDto.Lat" class="control-label"></label>
                            <input id="lat" asp-for="AmphoraDto.Lat" class="form-control" />
                            <span asp-validation-for="AmphoraDto.Lat" class="text-danger"></span>
                        </div>
                        <div class="col-sm-2">
                            <label asp-for="AmphoraDto.Lon" class="control-label"></label>
                            <input id="lon" asp-for="AmphoraDto.Lon" class="form-control" />
                            <span asp-validation-for="AmphoraDto.Lon" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Create a new Amphora" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_AutocompleteImportPartial" />
    <script src="~/js/geo.js"></script>
    <script>
        const url = '/Market/LocationSearch'
        autocompleteGeoSearch(null, url, "#lat", "#lon")
    </script>
}