@page
@model Amphora.Api.Areas.Amphorae.Pages.DeleteModel
@{
    ViewData["Title"] = "Delete " + Model.Amphora.Name;
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Delete Amphora</h1>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Are you sure you want to delete @Model.Amphora.Name ? </h3>

            <form method="post">
                <div class="form-group">
                    <input type="submit" value="Delete" class="btn btn-danger" />
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="~/images/stock/warning/undraw_notify_88a4.svg"/>
        </div>
    </div>
</div>
