@page
@model Amphora.Api.Areas.Amphorae.Pages.FileModel

@if(Model.Succeeded)
{
    <h4>The file should download now.</h4>
}
else
{
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
}