@page
@model Amphora.Api.Areas.Amphorae.Pages.NotFoundPageModel

@{
    ViewData["Title"] = "Not Found";
}

<div class="container">
    <h1>Oops!</h1>
    <p>We're sorry, we can't find that Amphora.</p>
</div>