@page
@model Amphora.Api.Areas.Amphorae.Pages.Signals.CreateModel

@{
    ViewData["Title"] = "Create a Signal";
}

<div class="container">
    <div class="row">
        <div class="col">
             <a asp-page="./Index" asp-route-id="@Model.Amphora.Id"><button class="float-right btn btn-secondary">Cancel</button></a>
            <h4>Add a Signal to @Model.Amphora.Name</h2>
            <hr/>
        </div>
    </div>
    <div class="row justify-content-between">
        <div class="col-md-6">
            <p>Choose a name for your Signal</p>
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input id="metadataInput" type="hidden" name="meta">
                <div class="form-group">
                    <label asp-for="Signal.Property" class="control-label"></label>
                    <input asp-for="Signal.Property" class="form-control" />
                    <span asp-validation-for="Signal.Property" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Signal.ValueType" class="control-label"></label>
                    <select asp-for="Signal.ValueType" asp-items="Model.Options" class="form-control"></select>
                    <span asp-validation-for="Signal.ValueType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="w-25 float-right btn btn-success" />
                </div>
            </form>
        </div>
        <div class="col-md-4 order-1">
            <p>Add useful attributes. Adding a "units" attribute will render on the graph.</p>
            <div id="metaContainer">
            </div>
            <button class="float-right btn btn-primary" onClick="addMetaDataRow()"> New Attribute</button>
        </div>
    </div>
</div>
    
@section Scripts {
    <script src="~/js/attributeEditor.js"></script>
    <script>
        meta = @Html.Raw(@Newtonsoft.Json.JsonConvert.SerializeObject(Model.Meta));
        attributeEditor(meta, "metaContainer", "metadataInput" )
    </script>
}

