@page
@model DetailPageModel

<div class="container">
    <div class="row">
        <div class="col">
            <a class="btn btn-primary float-right" asp-page="./Index">Index</a>
            <h1>@Model.Org.Name Account</h1>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <a class="btn btn-primary float-right mb-2" asp-page="./Invoice" asp-route-id="@Model.Org.Id">Generate</a>
            <h2>Invoices</h2>
            <hr/>
            @foreach(var i in Model.Org.Account.Invoices)
            {
                <div class="m-2"> 
                    @await Component.InvokeAsync("InvoiceRow", new {invoiceId = i.Id, orgId = Model.Org.Id })
                    <a class="btn btn-secondary" asp-page="./Invoice" asp-route-id="@Model.Org.Id" asp-route-invoiceId="@i.Id"> Detail</a>
                </div>
            }
        </div>
        <div class="col-4">
            <h2>Debits</h2>
            <hr/>
            @foreach(var d in Model.Org.Account.Debits)
            {
               @await Component.InvokeAsync("TransactionRow", new {transaction = d })
            }
        </div>
        <div class="col-4">
            <h2>Credits</h2>
            <hr/>
            @foreach(var c in Model.Org.Account.Credits)
            {
                @await Component.InvokeAsync("TransactionRow", new {transaction = c })
            }
        </div>
    </div>
</div>