@model Amphora.Api.Pages.Shared.Components.FeaturedAmphora.FeaturedAmphoraViewComponent

@if(Model.Amphora != null)
{
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <small> <i class="fas fa-star"></i> Featured</small>
            <img class="img-fluid float-right" src="~/images/Amphora_Black.svg" />
            <h1 class="display-4">@Model.Amphora.Name</h1>
            <hr/>
            <p class="lead text-truncate">
                @Model.Amphora.Description
                <br/>
                <a asp-area="Amphorae" asp-page="/Detail" asp-route-id="@Model.Amphora.Id" class="btn btn-primary btn-lg">View Featured Data</a>
            </p>
        </div>
    </div>
}