@page
@model Pages.TestPageModel

<div id="myMap"></div>

@section Styles {
    <link rel="stylesheet" href="~/lib/azure-maps-control/dist/atlas.min.css" type="text/css"> 
     <style>
        html, body {
            margin: 0;
        }

        #myMap {
            height: 100vh;
            width: 100vw;
        }
    </style>
}
@section Scripts {
    <script src="~/lib/azure-maps-control/dist/atlas.min.js"></script>
    <script type="text/javascript">
        var map = new atlas.Map('myMap', {
            center: [-122.33, 47.6],
            zoom: 12,
            language: 'en-US',
            authOptions: {
                authType: 'subscriptionKey',
                subscriptionKey: '@Model.Key'
            }
        });
    </script>
}