@page
@model Amphora.Api.Pages.Home.ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="container">

    <h1 class="text-danger">Uh oh!</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
    
    @if (Model.ShowRequestId)
    {
        <p>
            <strong>Request ID:</strong> <code>@Model.RequestId</code>
        </p>
    }
    <hr/>
    <div class="row">
        <div class="col-6">
            <h3>This is a touch embarrassing.</h3>
            <p>
                If this error persists, please log an issue on our 
                <a target="_blank" href="https://github.com/amphoradata/amphoradata.github.io/issues">GitHub</a>
            </p>
        </div>
        <div class="col-md-6">
            <img class="img-fluid" src="~/images/stock/undraw_feeling_blue_4b7q.svg" />
        </div>
    </div>
</div>
