@page
@model Amphora.Api.Pages.Home.StatusCodeModel

<div class="container">
    <div class="row">
        <div class="col-md">
            <h2>Uh Oh!</h2>
            <p>The server responsed with @Model.Code </p>
        </div>
        <div class="col-md">
            <img class="img-fluid" src="~/images/stock/undraw_feeling_blue_4b7q.svg">
        </div>
    </div>
</div>