@page
@model Amphora.Api.Pages.Amphorae.AgreementModel
@{
    ViewData["Title"] = "User Agreement";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="m-3 card">
                <div class="card-header">
                    Amphora User Agreement: @Model.Amphora.Name
                </div>
                <div class="card-body">
                    <p>@Model.AgreementText</p>
                </div>
            </div>
            <a asp-page="./Purchase" asp-route-id="@Model.Amphora.AmphoraId">
                <button class="btn btn-success btn-block">Accept</button>
            </a>
        </div>
    </div>

</div>
