@page
@model Amphora.Api.Pages.Amphorae.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Amphora</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Title" class="control-label"></label>
                <input asp-for="Input.Title" class="form-control" />
                <span asp-validation-for="Input.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Description" class="control-label"></label>
                <input asp-for="Input.Description" class="form-control" />
                <span asp-validation-for="Input.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Price" class="control-label"></label>
                <input asp-for="Input.Price" class="form-control" />
                <span asp-validation-for="Input.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Lat" class="control-label"></label>
                <input asp-for="Input.Lat" class="form-control" />
                <span asp-validation-for="Input.Lat" class="text-danger"></span>
                <label asp-for="Input.Lon" class="control-label"></label>
                <input asp-for="Input.Lon" class="form-control" />
                <span asp-validation-for="Input.Lon" class="text-danger"></span>
            </div>

             <div class="body ui-widget">
                <label>Autocomplete Example: </label>
                <input id="autoComplete" type="text" tabindex="1">
            </div>
            <div class="selection"></div>
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/@@tarekraafat/autocomplete.js@@6.1.0/dist/js/autoComplete.js"></script>

    <script>

        const token = "@Model.Token";
        const autoCompletejs = new autoComplete({
        data: {
            src: async function() {
                // Loading placeholder text
                document.querySelector("#autoComplete").setAttribute("placeholder", "Loading...");
                // Fetch External Data Source
                
                const url = '@Url.Action("LookupLocationAsync", "Market")';
                let query = document.querySelector("#autoComplete").value;
                const source = await fetch(`${url}?query=${query}`,{
                        headers: {
                        'Authorization': `Bearer ${token}`
                        // 'Content-Type': 'application/x-www-form-urlencoded',
                        }
                    });
                //const source = await fetch("https://tarekraafat.github.io/autoComplete.js/demo/db/generic.json");
                const data = await source.json();
                // Returns Fetched data
                data.results.forEach(function(element) {
                    // flatten a bit
                    element.freeformAddress = element.address.freeformAddress
                });
                console.log(data.results);
                return data.results;
            },
            key: ["freeformAddress"],
            cache: false
        },
        sort: function(a, b) {
            if (a.match < b.match) {
            return -1;
            }
            if (a.match > b.match) {
            return 1;
            }
            return 0;
        },
        query: {
            manipulate: function(query) {
            return query.replace("pizza", "burger");
            }
        },
        placeHolder: "Food & Drinks",
        selector: "#autoComplete",
        threshold: 0,
        debounce: 0,
        searchEngine: "strict",
        highlight: true,
        maxResults: 10,
        resultsList: {
            render: true,
            container: function(source) {
            source.setAttribute("id", "autoComplete_results_list");
            },
            destination: document.querySelector("#autoComplete"),
            position: "afterend",
            element: "ul",
        },
        resultItem: {
            content: function(data, source) {
            source.innerHTML = data.match;
            },
            element: "li",
        },
        noResults: function() {
            const result = document.createElement("li");
            result.setAttribute("class", "no_result");
            result.setAttribute("tabindex", "1");
            result.innerHTML = "No Results";
            document.querySelector("#autoComplete_results_list").appendChild(result);
        },
        onSelection: function(feedback) {
            const selection = feedback.selection.value.freeformAddress;
            // Render selected choice to selection div
            document.querySelector(".selection").innerHTML = selection;
            // Clear Input
            document.querySelector("#autoComplete").value = "";
            // Change placeholder with the selected value
            document.querySelector("#autoComplete").setAttribute("placeholder", selection);
            // Concole log autoComplete data feedback
            console.log(feedback);
        },
        });
        
    </script>
}