@page
@model Amphora.Api.Pages.Amphorae.IndexModel
@{
    ViewData["Title"] = "Amphorae";
}

<div id="main" class="text-center">
    <div class="main-header">
        <span>
            <h1 class="display-4">Amphoræ</h1>
            <a asp-page="/amphorae/create"><button class="btn btn-primary">Create</button></a>
        </span>
    </div>
    
    <div>
        <ul class="list-group">
        @foreach (var amphora in Model.Amphorae)
        {
            <li class="list-group-item d-flex justify-content-between align-items-center">
                $@amphora.Price
                <b> @amphora.Title </b>
                @amphora.Description
                <span class="badge badge-primary badge-pill">14</span>
                <a asp-page="/Amphorae/Detail" asp-route-id="@amphora.Id"><button class="btn btn-secondary">Detail</button></a>
            </li>
        }
        </ul>
    </div>
</div>

