@model Amphora.Api.Pages.Shared.Components.AccessRuleRowViewComponent

@{
    var bgClass = "";
    if(Model.Index > 0 && Model.Index%2 == 1)
    {
        bgClass = "bg-light";
    }
}
<div class="row align-middle @bgClass">
    <div class="col-1 text-danger">
        <i class="fas fa-ban"></i>
    </div>
    <div class="col-2">
       @Model.Rule.Priority
    </div>
    <div class="col">
       @Model.Rule.Name()
    </div>
    <div class="col-4">
        something
    </div>
</div>
