@page
@model Amphora.Api.Pages.Temporae.IndexModel
@{
    ViewData["Title"] = "Temporae";
}

<div id="main" class="container">
    <div class="row main-header">
        <div class="col">
            <span>
                <h1 class="display-4">Temporæ</h1>
                <a asp-page="/Temporae/Create"><button class="btn btn-primary">Create</button></a>
            </span>
        </div>
    </div>
    
    <div class="row">
        <div class="col-4">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">Information</h5>
                </div>
                <div class="card-body">
                    <p>
                        <em>Temporae</em> are a method of storing and sharing time series data, i.e. data that changes over time.
                        Temporae may only contain the properties defined in their <em>Domain</em>.
                    </p>                                             
                </div>
            </div>
        </div>
        <div class="col">
            <table id="entity-table" class="table table-borderless table-striped">
                <thead>
                    <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th onclick="w3.sortHTML('#entity-table','.entity-item', 'td:nth-child(4)')" scope="col">Price ($)</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var entity in Model.Temporae)
                    {
                     <tr class="entity-item">
                        <th scope="row"> @entity.Title </th>
                        <td>@entity.Description</td>
                        <td>@entity.Price</td>
                        <td>  
                            <a asp-page="/Temporae/Detail" asp-route-id="@entity.Id"> 
                                <button class="btn btn-link text-success"><i class="fas fa-info-circle"></i></button> 
                            </a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

