@using Microsoft.AspNetCore.Identity
@using Amphora.Api.Contracts

@inject ISignInManager SignInManager
@inject IUserManager UserManager

@if (SignInManager.IsSignedIn(User))
{
    
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a asp-controller="Account" asp-action="Login">Log in</a></li>
    </ul>
}