@using Microsoft.AspNetCore.Identity
@using Amphora.Api.Contracts
@inject ISignInManager SignInManager
@inject IUserManager UserManager
@{
    var appUser = await UserManager.GetUserAsync(User);
}
<ul class="navbar-nav flex-grow-1 justify-content-end">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Discover" asp-page="/Index">Discover</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Amphorae" asp-page="/Create">Package</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Amphorae" asp-page="/Index">Trade</a>
    </li>
    

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="helpDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Help
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item nav-link text-light" target="_blank" href="https://amphoradata.github.io/docs/overview/about">
                Docs <i class="float-right fas fa-book fa-lg mr-1"></i>
            </a>
            <a class="dropdown-item nav-link text-light" asp-area="" target="_blank" asp-page="/Redirection/Chat">
                Chat <i class="float-right fas fa-comments fa-lg mr-1"></i>
            </a>

            @{
                var from = Context.Request.Host + Context.Request.Path;
            }

            <a class="dropdown-item nav-link text-light" asp-area="" target="_blank" asp-page="/Redirection/Feedback" asp-route-from="@from">
                Feedback <i class="float-right fas fa-theater-masks fa-lg mr-1"></i>
            </a>
        </div>

    </li>

    <li class="nav-item dropdown avatar">
        <a href="#" class="nav-link text-light dropdown-toggle p-0" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            @{var profileUri = appUser?.GetProfilePictureUri()?.ToString(); }
            <img src="@profileUri" class="rounded-circle z-depth-0 mb-1" alt="avatar image"/>
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item nav-link text-light" asp-area="" asp-page="/Home/Invite">
                Invite
                <i class="float-right fas fa-user-plus"></i>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item nav-link text-light" asp-area="Profiles" asp-page="/Account/Detail">My Profile</a>   
            <a class="dropdown-item nav-link text-light" asp-area="Organisations" asp-page="/Detail">My Organisation</a>
            @if(appUser?.GlobalAdmin() ?? false)
            {
                <div class="dropdown-divider"></div>
                <a class="dropdown-item nav-link text-light" asp-area="Admin" asp-page="/Index">Admin</a>
            }
            <div class="dropdown-divider"></div>
            <form class="form-inline" asp-area="Profiles" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-Light">Logout</button>
            </form>
        </div>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Profiles" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Profiles" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>