@using Microsoft.AspNetCore.Identity
@using Amphora.Api.Contracts
@inject ISignInManager<Amphora.Api.Models.ApplicationUser> SignInManager
@inject IUserManager<Amphora.Api.Models.ApplicationUser> UserManager

 <ul class="navbar-nav flex-grow-1 justify-content-end">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <!-- <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!! </a> -->
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-page="/Market/Index">Market</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-page="/Amphorae/Index">Amphorae</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-page="/Temporae/Index">Temporae</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-page="/Profile/Index">My Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-page="/Home/Settings" >Settings</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link text-Light">Logout</button>
        </form>
    </li>
    <li class="nav-item avatar">
        <a class="nav-link p-0" href="#">
        <img src="~/images/doge.jpg" class="rounded-circle z-depth-0"
            alt="avatar image" >
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>