@using Microsoft.AspNetCore.Identity
@using Amphora.Api.Contracts
@inject ISignInManager SignInManager
@inject IUserManager UserManager

<ul class="navbar-nav flex-grow-1 justify-content-end">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">

    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Amphorae" asp-page="/Index">Amphorae</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-page="/Market/Index">Market</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-page="/Redirection/Chat"><i class="far fa-comments fa-lg"></i></a>
    </li>
    var from = Context.Request.Host + Context.Request.Path;
    
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="" asp-page="/Redirection/Feedback" asp-route-from="@from"><i class="far fa-frown fa-lg"></i></a>
    </li>

    <li class="dropdown nav-item avatar">
        <a href="#" class="nav-link text-light dropdown-toggle p-0" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            @{var profileUri = (await UserManager.GetUserAsync(User))?.GetProfilePictureUri()?.ToString(); }
            <img src="@profileUri" class="rounded-circle z-depth-0" alt="avatar image"/>
        </a>
        <ul class="dropdown-menu">
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-page="/Profile/Detail">My Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Organisations" asp-page="/Detail">My Organisation</a>
            </li>
            <li class="nav-item">
                <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button  type="submit" class="nav-link btn btn-link text-Light">Logout</button>
                </form>
            </li>                       
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>