@page
@model Amphora.Identity.Pages.IndexPageModel

@using Amphora.Common.Extensions
@using Amphora.Common.Models.Options
@using Microsoft.Extensions.Options

@inject IOptionsMonitor<ExternalServices> ExternalServices

@{
    var webAppChallenge = $"{ExternalServices.CurrentValue?.WebAppUri().ToStandardString()}/Challenge";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Identity Portal</h2>
            <hr/>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <p>
                Welcome to the Amphora Data Identity portal. If you're looking for the main web application, you can find it <a href="@ExternalServices.CurrentValue?.WebAppUri()">here</a>
            </p>
        </div>

    </div>
    <div class="row justify-content-center mt-3">
        <div class="col-6 text-center">
            <h4 class="mb-3">
                Quick Links
            </h4>
            @if(User.Identity.IsAuthenticated)
            {
                <div class="m-2">
                    <a class="btn btn-primary btn-block" asp-page="/Account/Logout">Logout</a>
                </div>
                <div class="m-2">
                    <a class="btn btn-primary btn-block" asp-page="/Account/Index">My Account</a>
                </div>
                <div class="m-2">
                    <a class="btn btn-primary btn-block" href="@webAppChallenge">Amphora Data Web Application</a>
                </div>
            }
            else
            {
                <div class="m-2">
                    <a class="btn btn-primary btn-block" asp-page="/Account/Login" asp-route-returnUrl="@webAppChallenge">Login</a>
                </div>
            }
        </div>
    </div>
</div>