@page
@model Amphora.Identity.Pages.IndexPageModel

@using Amphora.Common.Extensions
@using Amphora.Common.Models.Options
@using Microsoft.Extensions.Options

@inject IOptionsMonitor<ExternalServices> ExternalServices

@{
    var webAppChallenge = $"{ExternalServices.CurrentValue?.WebAppUri().ToStandardString()}/Challenge";
}

<div class="container">

    <div class="row justify-content-center mt-5">
        <div class="col text-center">
            <img class="img-fluid img-bullet" src="~/_content/sharedui/images/Amphora_Black.svg">
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-8 text-center">
            @if(User.Identity.IsAuthenticated)
            {
            <div class="row mt-3">
                <div class="col">
                    <a class="btn btn-lg btn-primary btn-block" href="@webAppChallenge">Home</a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <a class="btn btn-lg btn-secondary btn-block" href="@webAppChallenge">Docs</a>
                </div>
                <div class="col">
                    <a class="btn btn-lg btn-secondary btn-block" asp-page="/Account/Index">My Account</a>
                </div>
            </div>
            }
            else
            {
                <div class="m-2">
                    <a class="btn btn-lg btn-primary btn-block" asp-page="/Login" asp-route-returnUrl="@webAppChallenge">Login</a>
                </div>
            }
        </div>
    </div>

    <div class="row justify-content-center mt-5">
        <div class="col-6">
            <p>
                Welcome to the Amphora Data Identity portal. If you're looking for the main web application, you can find it <a href="@ExternalServices.CurrentValue?.WebAppUri()">here</a>
            </p>
        </div>
    </div>
</div>