<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Amphora Data Service Agreement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span style="white-space: pre-line">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae magna lobortis enim pellentesque rutrum at ac odio. Vestibulum nec commodo nibh. Integer sed porttitor enim. Nullam in pellentesque magna. Mauris eleifend sollicitudin lacus, a commodo risus eleifend id. Praesent varius metus mauris, eget cursus metus tempor sed. Morbi bibendum erat sit amet quam venenatis, sed ultrices eros egestas.

Integer eleifend imperdiet quam ac tincidunt. Sed lacinia feugiat libero, at porttitor quam rhoncus non. Praesent et ante at libero tempor tempor non vel est. Integer posuere magna sed facilisis imperdiet. Mauris tincidunt tristique pharetra. Vivamus tincidunt, turpis in convallis dictum, dolor est placerat turpis, eget gravida metus est non urna. Vestibulum pellentesque quis magna ut imperdiet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras est risus, interdum consectetur ullamcorper a, interdum eu urna. Morbi tempus felis vitae tellus consectetur, suscipit vehicula purus condimentum. Nullam sodales ipsum arcu, placerat finibus tellus mattis sed. Phasellus id hendrerit est. Duis sed turpis dapibus, ornare sem et, laoreet leo.

Nulla auctor, elit et consequat malesuada, odio erat luctus erat, id posuere nisi quam sit amet diam. Nunc nec ullamcorper justo. Donec felis justo, ultrices mattis ipsum sed, imperdiet laoreet ipsum. In nunc odio, faucibus eget ipsum et, interdum lacinia est. Nam eu justo mi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis gravida diam eu facilisis consectetur. Nulla ut quam leo. Praesent eget mollis tortor, nec fermentum enim. Proin convallis arcu eu libero pulvinar rhoncus. Donec dictum elementum pretium. Donec porta lacinia tempus. Donec a diam tempus, feugiat lectus quis, ultricies tortor.


        </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
</div>