/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* BRAND COLOURS */

:root {
  --amphora-red: #BC312A;
  --amphora-black: #181717;
  --amphora-white: #FFFEFD;
}

/* NAV BAR */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar { background-color: rgba(0, 0, 0, 0.91) !important; }
.navbar .dropdown-menu {background-color: var(--amphora-black); }
.navbar #title-amphora { color: var(--amphora-white) ;}
.navbar #title-data { color: var(--amphora-red) ;}
.navbar .navbar-brand img {
  max-height:100%; margin-right: 10px;  max-width:220px; 
}

.navbar .avatar a img {
  max-height: 35px;
  vertical-align: center;
  text-align: center;
}

.navbar .avatar a {
  height: 100%;
}

.navbar .avatar {
  margin-left: 10px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: 'Fjalla One', sans-serif;
}

.footer {
  background-color: rgba(0, 0, 0, 0.91) ;
}

.border-top {
  border-top: 1px solid var(--amphora-white);
}
.border-bottom {
  border-bottom: 1px solid var(--amphora-white);
}

.box-shadow {
  box-shadow: 0 .25rem .75rem var(--amphora-black);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* Page styles
-------------------------------------------------- */

#main h1 {
  margin: 0;
    display: inline-block;
}
#main button {
  float: right;
}
#main .main-header {
  margin-bottom: 16px;
}

.img-bullet {
  height: 35px;
}

.entity-table td {
  overflow: hidden;
  background-color: transparent;
}

/* Home Page Styles
-------------------------------------------------- */

#homeCarousel .carousel-caption {
  background-image: linear-gradient( transparent,  var(--amphora-black), transparent);
}

/* Autocomplete styles
-------------------------------------------------- */

#autoComplete_results_list {
  position: absolute;  /* <-- added declarations */
  left: 0; top: 100%;  /*     here               */
  width: 100%;         /*     and here...        */
  z-index: 999;
}