/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/* Page styles
-------------------------------------------------- */

#main h1 {
  margin: 0;
    display: inline-block;
}
#main button {
  float: right;
}
#main .main-header {
  margin-bottom: 16px;
}

.img-bullet {
  height: 35px;
}

.entity-table td {
  overflow: hidden;
  background-color: transparent;
}

/* Home Page Styles
-------------------------------------------------- */

#homeCarousel .carousel-caption {
  background-image: linear-gradient( transparent,  var(--amphora-black), transparent);
}

/* Autocomplete styles
-------------------------------------------------- */

#autoComplete_results_list {
  position: absolute;  /* <-- added declarations */
  left: 0; top: 100%;  /*     here               */
  width: 100%;         /*     and here...        */
  z-index: 999;
}

/* Wordcloud 
-------------------------------------------------- */

#wordcloud {
  width: 100%;
  height: auto;
}