@page
@model Amphora.Api.Areas.Organisations.Pages.Restrictions.IndexModel

@{
    ViewData["Title"] = "Organisation Restrictions";
}

<div class="container">
    <div class="row mb-2">
        <div class="col">
            <h2>Organisational Restrictions</h2>
            <hr/>
            <a class="btn btn-primary float-right" asp-page="./Create" asp-route-id="@Model.Organisation.Id">Create New</a>
            <p>Explicitly deny or allow other organisations permission to buy & access your Amphora.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @{var index = 0; }
            @foreach (var r in Model.Organisation.Restrictions)
            {
                @await Component.InvokeAsync("RestrictionRow", new {restriction = r, index = index++})
            }
        </div>
    </div>
</div>