@{
    ViewData["Title"] = "My Amphorae";
}
@model Amphora.Api.ViewModels.AmphoraeViewModel

<div class="text-center">
    <h1 class="display-4">My Amphorae</h1>
    <p> This is where you see the detail of a single Amphora</p>
</div>
