@model Amphora.Api.ViewModels.AmphoraViewModel
@{
    ViewData["Title"] = "@Model.Title";
}


<div id="main" class="text-center">
     <span>
        <h1 class="display-4">@Model.Title</h1>
        <a asp-action="Index"><button class="btn btn-secondary">Back</button></a>
    </span>
     $@Model.Price
    <p> @Model.Description </p>
    
</div>
