@page
@model Amphora.Identity.Pages.Account.Manage.ResendConfirmationEmailPageModel


@{
    ViewData["Title"] = "Resend Confirmation Email";
}

<div class="container">
    @if(Model.Success == true)
    {
        <div class="alert alert-success" role="alert">
            Confirmation Email Sent
        </div>
    }
    else if(Model.Success == false)
    {
        <div class="alert alert-danger" role="alert">
            Something went wrong...
        </div>
    }
    <h2>Resend Confirmation Email?</h2>
    <div class="row">
        <div class="col">
            <p>You will recieve an email at @(Model.AppUser?.Email ?? "unknown email") . Be sure to check your Junk folder.</p>
            <form method="post">
                <input class="btn btn-success btn-block" type="submit" value="Resend Email" />
            </form>
        </div>
    </div>
</div>