.message {
    width: 100%;
    margin: 15px;
    padding: 12px;
    border-radius: 4px;
    min-height: 62px;
    box-shadow: 0px 0px 4px 0px var(--marble);
}

.icon {
    margin: 12px 0px;
}

.content {
    margin: 12px;
}

.actions {
    margin: 3px;
}

.action {
    padding: 12px;
}

.action:hover {
    cursor: pointer
}

/* Success */
.message-success {
    background-color: var(--avocado);
    border-left: 8px solid var(--apple);
}

.message-success .icon {
    color: var(--apple);
}
/* Info */
.message-info {
    background-color: var(--yam);
    border-left: 8px solid var(--berry);
}

.message-info .icon {
    color: var(--berry);
}

/* Warn */
.message-warn {
    background-color: var(--pear);
    border-left: 8px solid var(--mandarin);
}

.message-warn .icon {
    color: var(--mandarin);
}

/* Error */
.message-error {
    background-color: var(--peach);
    border-left: 8px solid var(--plum);
}

.message-error .icon {
    color: var(--plum);
}
.message-error .actions {
    color: var(--plum);
}
