@page
@model Amphora.Api.Areas.Organisations.Pages.Accounts.AddCreditPageModel

<div class="container">
    <div class="row">
        <div class="col">
            We're sorry. At this time, credit must be added manually. Please contact Amphora Data.
        </div>
    </div>
</div>
