@page
@model Amphora.Api.Areas.Organisations.Pages.Accounts.CreditsModel

@{
    ViewData["Title"] = "Org Credits";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Credits</h2>
            <hr/>
            @foreach(var c in Model.Account.Credits)
            {
                @await Component.InvokeAsync("TransactionRow", new {transaction = c, size = "medium" })
            }
        </div>
    </div>
</div>
