@page
@model Amphora.Api.Areas.Organisations.Pages.Accounts.CreditsModel

<div class="container">
    <div class="row">
        <div class="col">
            <h2>Credits</h2>
            <table id="entity-table" class="table table-borderless table-striped">
                <thead>
                    <tr>
                    <th scope="col"></th>
                    <th scope="col">Label</th>
                    <th scope="col">Amount ($)</th>
                    </tr>
                </thead>
                <tbody>
                    @if(Model.Account.Credits != null)
                    {
                        @foreach (var item in Model.Account.Credits)
                        {
                        <tr class="entity-item">
                            <th scope="row">
                                <img class="img-fluid img-bullet" src="~/images/Amphora_Black.svg">
                            </th>
                            <td> @item.Label </td>
                            <td> @item.Amount </td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
