@page
@model Accounts.InvoicePageModel

@{
    ViewData["Title"] = Model.Invoice?.Name;
}

<div class="container">
    <div class="row">       
        <div class="col">
            <h3 class="float-right">@Model.Invoice?.Name</h3>
            <h1>Invoice</h1>
        </div>
    </div>
    <div class="row">       
        <div class="col">
           Organisation Id: @Model.Organisation.Id
        </div>
    </div>
    <div class="row">       
        @if(Model.Invoice.DateCreated.HasValue)
        {
            <div class="col">
                Created On: @Model.Invoice.DateCreated.Value.ToString("dd MMM")
            </div>
        }
    </div>
    <hr/>
    <div class="row">
        <div class="col">
            <h2>Transactions</h2>
            @if(Model.Invoice.Transactions.Count > 0)
            {
                @foreach(var t in Model.Invoice.Transactions.OrderBy(_ => _.Timestamp))
                {
                    @await Component.InvokeAsync("TransactionRow", new {transaction = t, size = "default" })
                }
            }
            else
            {
                <div>
                    None
                </div>
            }
            <hr/>
        </div>
    </div>
    <div class="row">
        @{var textColour = "text-success";}
        @if(@Model.Invoice.InvoiceBalance < 0)
        {
            textColour = "text-danger";
        }
        <div class="col text-right @textColour font-weight-bolder">
            <h5>
                Final Balance: @Model.Invoice.InvoiceBalance
            </h5>
        </div>
    </div>
</div>