@page
@using Westwind.AspNetCore.Markdown
@model Amphora.Api.Pages.Changelog.IndexModel

@{
    ViewData["Title"] = "Change Log";
}

<div>
    @foreach(var v in Model.VersionDetails)
    {
        <h1>
            <a asp-page="./detail" asp-route-version="@v.VersionName">
                @v.VersionName
            </a> 
        </h1>
        @await Markdown.ParseHtmlStringFromFileAsync(v.MdFilePath)
        <hr/>
    }
</div>
