@model Amphora.Api.Areas.Amphorae.Pages.Components.FilePreviewViewComponent

@if(Model.IsAuthorized)
{
    <div id="@Model.Id" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-body">
               <img class="img-fluid" src="@Model.RelPath" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
    </div>
}