@page 
@model IndexModel

@{
    ViewData["Title"] = "Manage Profile";
}

<div class="container">
    <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-8">
            <a asp-page="../Detail" asp-area="Profiles" class="btn btn-primary btn-block w-50">My Profile</a>
            <a asp-page="./ChangePassword" asp-area="Profiles" class="btn btn-primary btn-block w-50">Change Password</a>
        </div>
    </div>
</div>