<li class="list-group-item">
    <i class="fas fa-check text-success"></i> Discover and consume third party data
</li>
<li class="list-group-item">
    <i class="fas fa-check text-success"></i> Share your data with third parties
</li>
<li class="list-group-item">
    <i class="fas fa-check text-success"></i> Access public data repository
</li>
<li class="list-group-item">
    <i class="fas fa-check text-success"></i> Unlimited data downloads
</li>
<li class="list-group-item">
    <i class="fas fa-check text-success"></i> Personal dashboard
</li>
<li class="list-group-item">
    <i class="fas fa-check text-success"></i> Custom terms and conditions
</li>
<li class="list-group-item">
    <i class="fas fa-check text-success"></i> Custom Access Controls
</li>