<li class="list-group-item">
    <i class="fas fa-check text-success"></i> Private data repository
</li>
<li class="list-group-item">
    <i class="fas fa-check text-success"></i> Single Sign On
</li>