@page
@model Amphora.Api.Areas.Organisations.Pages.Account.PlanPageModel

@{
    ViewData["Title"] = "Your Plan";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Your Plan</h3>
            <p>This plan applies to your organisation.</p>
            <hr/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 master">
            <partial name="_AccountMasterNavPartial" />
        </div>
        <div class="col-md-9 detail">
            <p>
                Your organisation is currently on the @Model.PlanName plan.
            </p>
            <br/>
            <a class="btn btn-primary" asp-page="./SelectPlan">Change your plan</a>
            <br/>
            <p class="text-right">
                <a href="https://amphoradata.com/pricing" target="_blank">Learn more about our pricing</a>
            </p>
        </div>
    </div>
</div>