@page
@model Amphora.Api.Areas.Organisations.Pages.SetRolePageModel

@{
    ViewData["Title"] = "Set Role";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Your Plan</h3>
            <p>This plan applies to your organisation.</p>
            <hr/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 master">
            <partial name="_AccountMasterNavPartial" />
        </div>
        <div class="col-md-9 detail">
            @if(Model.Succeeded)
            {
                <div>
                    <h2>Congratulations</h2>
                </div>
                
                <p>@Model.TargetMembership.User?.ContactInformation?.FullName is now a @Model.TargetMembership.Role.ToString()</p>
            }
        </div>
    </div>
</div>
