@page
@model Amphora.Api.Areas.Amphorae.Pages.Detail.DescriptionPageModel

@using Westwind.AspNetCore.Markdown

@{
    ViewData["Title"] = Model.Amphora.Name;
}


<div id="main" class="container">
    <partial name="_TitleRowPartial" />
    <hr/>
    <div class="row">
        <div class="col-lg-3 master">
            <partial name="_MasterNavPartial" />
        </div>
        <div id="detail" class="col-lg-9 detail">
            @Markdown.ParseHtmlString(Model.Amphora.Description)
        </div>
    </div>
</div>

@section Scripts {
    <script>
        imgs = document.getElementById("detail").getElementsByTagName('img')
        for (let i = 0; i < imgs.length; i++) {
            if(imgs[i].className) {
                imgs[i].className += " img-fluid"
            } else {
                imgs[i].className = " img-fluid"
            }
        } 
    </script>
}