
@page
@model Amphora.Api.Areas.Amphorae.Pages.Detail.TermsOfUsePageModel

@using Westwind.AspNetCore.Markdown

@{
    ViewData["Title"] = Model.Amphora.Name;
}


<div id="main" class="container">
    <partial name="_TitleRowPartial" />
    @if(Model.PromptAccept)
    {
        <div class="alert alert-warning" role="alert">
            You must accept the Terms of Use before you can buy this Amphora.
        </div>
    }
    <hr/>
    <div class="row">
        <div class="col-md-3 master">
            <partial name="_MasterNavPartial" />
        </div>
        <div class="col-md-9 detail">
            @if(Model.Amphora.TermsOfUseId is null)
            {
                <p>No Terms of Use have been applied here.</p>
            }
            else
            {   
                <h5>
                    @Model.Amphora.TermsOfUse.Name
                    @if(Model.HasAgreed)
                    {
                        <i class="far fa-check-circle text-success"></i>
                    }
                </h5>
                <hr/>
                @Markdown.ParseHtmlString(Model.Amphora.TermsOfUse.Contents)
            }

            @{
                string disabledClass = "";
                if(Model.HasPurchased || !Model.CanBuy)
                {
                    disabledClass = "disabled";
                }
            }
            
            @if(Model.HasAgreed)
            {
                <div class="alert alert-light text-center" role="alert">
                    Your organisation has accepted these terms.
                </div>
            }
            else
            {
                <form method="post" asp-route-id="@Model.Amphora.Id">
                    <input class="btn btn-primary w-50" type="submit" value="Accept" @disabledClass>
                </form>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>
        imgs = document.getElementById("detail").getElementsByTagName('img')
        for (let i = 0; i < imgs.length; i++) {
            if(imgs[i].set) {
                imgs[i].className += " img-fluid"
            } else {
                imgs[i].className = " img-fluid"
            }
        } 
    </script>
}