
@page
@model Amphora.Api.Areas.Amphorae.Pages.Detail.TermsOfUsePageModel

@using Westwind.AspNetCore.Markdown

@{
    ViewData["Title"] = Model.Amphora.Name;
}


<div id="main" class="container">
    <partial name="_TitleRowPartial" />
    <hr/>
    <div class="row">
        <div class="col-md-3 master">
            <partial name="_MasterNavPartial" />
        </div>
        <div class="col-md-9 detail">
            <h5>Terms of Use</h5>
            <br/>
            @if(Model.Amphora.TermsAndConditionsId is null)
            {
                <p>No Terms of Use have been applied here.</p>
            }
            else
            {
                <h5>
                    @Model.Amphora.TermsAndConditions.Name
                </h5>
                @Markdown.ParseHtmlString(Model.Amphora.TermsAndConditions.Contents)
            }
        </div>
    </div>
</div>

@section Scripts {
    <script>
        imgs = document.getElementById("detail").getElementsByTagName('img')
        for (let i = 0; i < imgs.length; i++) {
            if(imgs[i].set) {
                imgs[i].className += " img-fluid"
            } else {
                imgs[i].className = " img-fluid"
            }
        } 
    </script>
}