.ReactModal__Content .menu-open {
    height: 100%;
}
.ReactModal__Content .modal-inner {
    padding: 1rem;
    height: 100%;
}
.ReactModal__Content .menu-open .modal-inner {
    padding-top: 10px;
    margin-left: 16rem;
    height: 100%;
}

.ReactModal__Content .menu-closed .modal-inner {
    padding-top: 10px;
    margin-left: 6rem;
}

.ReactModal__Content .modal-menu {
    min-width: 66px;
    position: absolute;
    height: 100%;
}

.ReactModal__Content .menu-open .modal-menu{
    background-color: var(--platinum);
    min-width: 14rem;
}
.ReactModal__Content .menu-closed .modal-menu{
    background-color: var(--platinum);
    min-width: 5rem;
}