@page
@model Amphora.Api.Areas.Admin.Pages.Accounts.Detail.AddCreditPageModel

@{
    ViewData["Title"] = "Add Credit";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h3>Add Credit</h3>
            <p> To (@Model.Org?.Name).</p>
            <hr/>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 master">
            <partial name="_AdminAccountDetailMasterNavPartial" />
        </div>
        <div class="col-md-9 detail">
            @if(! string.IsNullOrEmpty(Model.Message))
            {
                <div class="alert alert-success" role="alert">
                    @Model.Message
                </div>
            }
            <h5>Balance: @Model.Org.Account?.Balance </h5>
            <hr/>
            <form method="post" asp-route-id="@Model.Org.Id">
                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Label" class="control-label"></label>
                    <input asp-for="Label" class="form-control" />
                    <span asp-validation-for="Label" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>