@page
@model Amphora.Identity.Pages.Account.IndexPageModel

@using Amphora.SharedUI.Models;

@{
    ViewData["Title"] = "Account";
    var indexPage = new MasterNavigationPaneViewModel.Page("./Index", null, "Account");
    var otherPages = new List<MasterNavigationPaneViewModel.Page>
        {
            new MasterNavigationPaneViewModel.Page("./Manage/Index",indexPage,  "Manage Account"),
            new MasterNavigationPaneViewModel.Page("./Edit", indexPage, "Edit Profile")
        };
}


<div class="container">
    <div class="row">
        <div class="col">
            <h1>@ViewData["Title"]</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h4>Manage your Amphora Data account.</h4>
            <hr />
        </div>
    </div>

     <div class="row">
        <div class="col-md-3 master">
            @await Component.InvokeAsync("MasterNavigationPane", 
                new MasterNavigationPaneViewModel(indexPage, otherPages))
        </div>
        <div class="col-md-9 detail">
            @if(@Model.ApplicationUser != null)
            {
                <div>
                    User Name: @Model.ApplicationUser?.UserName
                    Email: @Model.ApplicationUser?.Email 
                    Phone Number: @Model.ApplicationUser?.PhoneNumber
                </div>
            }
        </div>
    </div>
</div>