@page
@model IndexPageModel

@{
    ViewData["Title"] = "Account";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col">
        <h4>Manage your Amphora Data account.</h4>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <a class="btn btn-primary" asp-page="./Manage/Index">Manage Account</a>
    </div>
</div>
