<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Amphora Data Service Agreement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <span style="white-space: pre-line">
<h3>BACKGROUND: </h3>
These Terms and Conditions create an agreement between You (the Participant”) and Amphora Data Pty. Ltd. (hereinafter referred to by name or as “us”, “we”, “our”).  These Terms and Conditions govern your use of the beta version of the Amphora Data Marketplace Software (“the Software Platform”), including any and all related components and documentation. Use of the Software Platform implies both interacting with it as well as trading and sharing data within its Marketplace mechanism. 

<h4>1. Agreement </h4>
1.1/ By submitting your application to use the Software Platform, you agree to be bound by these Terms and Conditions and hereby enter into a legally binding Agreement with us. 

1.2/ You agree that these Terms and Conditions also bind any other employee or contractor or other related party of the Participant.  

 
<h4>2. Interpretation </h4>
2.1/ Unless the context otherwise requires, each reference in these Terms and Conditions to: 
&emsp; 2.1.1/ “writing”, and any related expression, includes a reference to any communication effected by electronic transmission or similar means; 
&emsp; 2.1.2/ a statute or a provision of a statute is a reference to that statute or provision as amended or re-enacted at the relevant time; 
&emsp; 2.1.3/ a “Business Day” means a day that is not a Saturday, Sunday or public holiday in Brisbane. 

2.2 The headings used in these Terms and Conditions are for convenience only and shall have no effect upon the interpretation of these Terms and Conditions.  
2.3 If any day on or by which a person must do something under this document is not a Business Day, then the person must do it on or by the next Business Day. 
2.4 Words imparting the singular number shall include the plural and vice versa. 
2.5 References to any gender shall include the other gender. 

<h4>3. Licence and Use of Software </h4>
3.1/ Upon your signing up to the Software Platform, you will be granted a non-exclusive licence to use the Software Platform subject to these Terms and Conditions. 
3.2/ This licence entitles you to use the Software Platform on your Company computer(s) or your Cloud Provider for testing and evaluation purposes. 
3.3/ You may not: 
&emsp; 3.1.1/ Modify the Software Platform in any way; 
&emsp; 3.2.1/ Reverse engineer, decompile or disassemble the Software Platform; 
&emsp; 3.1.3/ Create derivative works based on the Software Platform; 
&emsp; 3.1.4/ Reproduce the Software Platform; 
&emsp; 3.1.5/ Resell the Software Platform; 
&emsp; 3.1.6/ Sub-licence the Software Platform; or 
&emsp; 3.1.7/ Engage in a similar business activity of data brokerage.  

3.4/ You may not disclose any username or password we give you that allows access to the Software Platform to any person other than persons who are your employees or contractors. 
3.5/ If you become aware of any unauthorised use or disclosure of any password we have given you that allows access to the Software Platform: 
&emsp; 3.5.1/ You must change the password in question as soon as is practical; and 
&emsp; 3.5.2/ You must notify us as soon as is practical, and in any event within 12 hours of you having discovered that unauthorised use or disclosure.   

 
<h4>4. Disclaimer of Warranties and Liability </h4>
4.1/ The Software Platform is currently in development and is released solely for the purposes of testing and evaluation.  You hereby acknowledge that the Software Platform is not a finished product and as such may contain defects.  The Software is provided “as is”. 
4.2/ We make no representation or warranty that the Software Platform will meet your requirements, be of satisfactory quality, be fit for a particular purpose, be compatible with all computer systems, or will be secure. 
4.3/ You acknowledge that use of the Software Platform may lead to data loss or other damage to your computer or the data held thereon. 
4.4/ You acknowledge that your use of the Software Platform is at your own risk. 
4.5/ Our liability shall be limited to the fullest extent permitted by any applicable law, and under no circumstances will we be liable to you for any lost profits, revenues, information or data, or consequential, special, indirect, exemplary, punitive or incidental damages arising out of or related to these Terms and Conditions or your use of the Software Platform.  
4.6/ We acknowledge that this clause 4 applies only in respect of the Beta.  
 

<h4>5. Support </h4>
No specific technical support is provided for the Software Platform.  You are free to submit general enquiries to us and we will make reasonably practical efforts to answer them and provide limited remote support to facilitate your use of the Software Platform. 


<h4>6. Reporting and Feedback </h4>
6.1/ You will from time to time be requested to submit feedback to us about your experience as a use of the Software Platform.   
6.2/ We may make use of any feedback you give us to promote Amphora Data Pty. Ltd.’s business and showcase the success of the Software Platform. Unless you give us your written approval to the contrary, in making use of feedback for these purposes, we will only publish and use anonymised feedback in aggregate.  
6.3/ Our use of any feedback you give shall not bestow any rights or interests upon you whatsoever. 

 
<h4>7. Data You Disclose </h4>
7.1/ When using the Software Platform you may be required to provide certain personal information including, but not limited to, your name, date of birth and email address.  Under certain circumstances we may also obtain details about your computer’s system configuration and its IP and MAC addresses. 
7.2/ We may make use of that data to help us improve the software we develop and the services we provide, but we will not disclose that data to third parties.  


<h4>8. Use of operational agricultural data from the Software </h4>
8.1/ The primary business of Amphora Data Pty. Ltd. is enabling the sharing and trading of data according to specific licensing conditions.  
8.2/ If you purchase or license the use of data that is provided to you by another user of the Software Platform, you warrant to us that you will act in accordance with the terms of any specific data licence for that data set you purchase or license.  


<h4>9. Provision of operational agricultural data from the Software </h4>
9.1/ By making data available for sale or use on the Software Platform, you warrant that you own or have the necessary licences, rights, consents, and permissions to use that data in that way.  
9.2/ You also agree to make available the relevant licence of the dataset so other participants of the program and review the licence and act accordingly.  

 
<h4>10. Confidentiality and Non-disclosure </h4>
10.1/ For the purposes of this Clause 10, “Confidential Information” means:
&emsp; 10.1.1/ information supplied by us that is by its nature confidential;  
&emsp; 10.1.2/ information supplied by us that we label or describe as being confidential;  
&emsp; 10.1.3/ information relating to our strategies and procedures  
&emsp; 10.1.4/ the appearance of the user interface of the Software Platform; 
&emsp; 10.1.5/ the software code upon which the Software Platform runs; 
&emsp; 10.1.6/ the manner in which the Software Platform operates, including how transactions occur on the Software Platform; and 
&emsp; 10.1.7/ the identity of other users of the Software Platform.  

10.2/ You acknowledge and undertake that, except as provided by sub-Clause 10.1 or as authorised in writing by Amphora Data Pty. Ltd., you shall, at all times during your use of the Software Platform and for 6 months after its conclusion: 
&emsp; 10.2.1/ take all reasonable measures to ensure that any Confidential Information is protected against loss, unauthorised access, use, modification or disclosure and against other misuse;  
&emsp; 10.2.2/ not copy or reproduce any Confidential Information without our consent other than as contemplated by and subject to these Terms and Conditions; 
&emsp; 10.2.3/ will not access, use, disclose or retain Confidential Information except as contemplated by and subject to these Terms and Conditions 
&emsp; 10.2.4/ not use any Confidential Information for any purpose other than as contemplated by and subject to these Terms and Conditions. 

10.3/ You may: 

&emsp; 10.3.1/ disclose any Confidential Information to any governmental or other authority or regulatory body to such extent only as is required by law, subject to you first informing the person or body in question that the Confidential Information is confidential; and 
&emsp; 10.3.2/ use any Confidential Information for any purpose, or disclose it to any other  person, to the extent only that it is at the date of your acceptance of these Terms and Conditions, or at any time after that date becomes, public knowledge through no fault of your own,  provided that in doing so you do not disclose any part of that  Confidential Information which is not public knowledge. 

10.4/ The provisions of this Clause 10 shall continue in force in accordance with their terms, notwithstanding the termination or expiry of the Programme or your enrolment therein for any reason. 

<h4>11. Right to monitor  </h4>
11.1/ Amphora Data Pty. Ltd. maintains the right to monitor all use of the Software Platform to ensure compliance with these Terms and Conditions and to improve the overall performance and usability of the Software Platform. 

<h4>12. Payment Terms </h4>
12.1/ All amounts payable by the Participant to Amphora Data Pty. Ltd. arising from the Participant’s use of the Software Platformare due 30 calendar days after the issuing of an invoice.  
12.2/ Prices are advertised within the Software Platform and may change over time without notice.  
12.3/ Amphora Data Pty. Ltd. will pay any money it owes the Participant arising from the Participant’s use of the Software Platform within 3 business days of the start of the following month.  
12.4/ Amphora Data Pty. Ltd. will charge the Participant a brokerage fee of 20% of the value of sales transactions arising from the Participant’s use of the Software Platform. For example, if another participant buys data from the Participant worth $25, Amphora Data Pty. Ltd. will charge the Participant a brokerage fee of $5. Thus, of that $25, the Participant will keep $20 and Amphora Data Pty. Ltd. will take $5.  

 
<h4>13. Termination </h4>
13.1/ We reserve the right to terminate your use of the Software Platform at any time if you commit a material breach of these Terms and Conditions. 
13.2/ Any and all obligations which either expressly or by their nature continue beyond the termination, cancellation or expiration of your licence shall survive termination under this Clause 13. 


<h4>14. Assignment </h4>
You may not assign, transfer, sub-licence, or in any other manner make over to any third party the benefit and/or burden of these Terms and Conditions without our prior written consent, such consent will not be unreasonably withheld. 

 
<h4>15. Relationship of Parties </h4>
Nothing in these Terms and Conditions shall create, or be deemed to create, a partnership, the relationship of principal and agent, or of employer and employee between you and Amphora Data Pty. Ltd. 

 
<h4>16. Severance </h4>
A clause or part of a clause of this document that is illegal or unenforceable may be severed from this document and the remaining clauses or parts of the clause of this document continue in force. 

 
<h4>17. Software Updates and Modifications </h4>
17.1/ We may from time to time release updates for the Software Platform. These updates will occur automatically. 
17.2/ We may modify the Software Platform at any time. In the event that modifications are made, we may publish details of them on our website at www.amphoradata.com and may also send you an email detailing the modifications.  

<h4>18. Modification of Terms and Conditions </h4>
18.1/ We may modify the Terms and Conditions at any time but will give a 10-business day notice period before those modified terms take effect.  
18.2/ If you do not agree to be bound by any modified terms and conditions we may introduce, you are required to inform us within this 10-business day notice period.  
18.3/ If no agreement is reached on modified Terms and Conditions within the 10-business day notice period, you must stop using the Software within the 10-business day notice period.  


<h4>19. Law and Jurisdiction </h4>
19.1/ These Terms and Conditions (and any non-contractual matters and obligations arising therefrom or associated with your use of the Software Platform) shall be governed by, and construed in accordance with, the laws of Queensland, Australia. 
19.2/ Any dispute, controversy, proceedings or claim between you and us relating to these Terms and Conditions (and any non-contractual matters and obligations arising therefrom or associated with your use of the Software Platform) shall be determined the courts of Queensland, Australia. 

        </span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
</div>