@page
@model Amphora.Api.Pages.Domains.DetailModel
@{
    ViewData["Title"] = "Domain -";
}


<div id="main" class="container">
    <div class="row">
        <div class="col-3">
            <h2>Domain: @Model.Domain.Name</h2>
        </div>
        <div class="col">
            <span>
                <a asp-page="./Index"><button class="btn btn-secondary">Back</button></a>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">Info Pane</h5>
                </div>
                <div class="card-body">
                    <p>You could put something here</p>                                                    
                </div>
            </div>
        </div>

        <div class="col-9">
             <div class="card bg-light mb-3">
                <div class="card-header">Domain Details</div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Key</th>
                                    <th scope="col">Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(var p in @Model.Domain.GetDomainSchema()?.Properties.Keys ?? new List<string>() )
                                {
                                    <tr>
                                    <th scope="row">@p</th>
                                    <td>@Model.Domain.GetDomainSchema().Properties[p].Type</td>
                                </tr>
                                }  
                            </tbody>
                        </table>   
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
