@page
@model Amphora.Api.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div>

    <div class="text-center">
        <h1 class="display-4">Welcome to Amphora</h1>
        <p>The market for agiricultural data.</p>
    </div>
    <div>
        <p>This page left blank (redirects) </p>
    </div>
</div>
