@page
@model Amphora.Api.Areas.Admin.Pages.IndexModel

<div class="container">
    <div class="row">
        <div class="col">
            <a asp-page="./Purchases" class="btn btn-primary">Purchases</a>
            <a asp-page="./Dashboard" class="btn btn-primary">Dashboard</a>
        </div>
    </div>
</div>