@page
@model Amphora.Api.Areas.Admin.Pages.IndexModel

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <a asp-area="Admin" asp-page="/Purchases" class="btn btn-primary btn-block">Purchases</a>
        </div>
        <div class="col-md-4">
            <a asp-area="Admin" asp-page="/Accounts/Index" class="btn btn-primary btn-block">Accounts</a>
        </div>
        <div class="col-md-4">
            <a asp-area="Admin" asp-page="/Dashboard" class="btn btn-primary btn-block" >Dashboard</a>
        </div>
    </div>
</div>