@page
@model OperationsPageModel

<div class="container">
    <div class="row">
        <div class="col text-success">
            @Model.CompletedMessage
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form asp-page-handler="GenerateWordCloud">
                <input class="btn btn-primary" type="submit" value="Generate Word Cloud">
            </form>
        </div>
    </div>
</div>