@page
@model OperationsPageModel

<div>
    <div class="text-success">
        @Model.CompletedMessage
    </div>
    <form asp-page-handler="SignalsV2Migrate">
        <input class="btn btn-primary" type="submit" value="Migrate Signals V2">
    </form>
</div>