:root {
    /* primary colours */
    --amphora-red: #BC312A;
    --amphora-black: #181717;
    --amphora-white: #FFFEFD;

    /* secondary */
    --turqoise: #5AA6C0;
    --blue-garnet: #0A789E;
    --pearl: #CFD2D6;
    /* text colours */
    --ebony: #222222;
    --stone: #696464;
    /* messaging and alerts */
    --mandarin: #F68D00;
    --plum: #E7140D;
    --apple: #399B1E;
    --berry: #057ED1;
    /* messaging and alert pastels */
    --pear: #FFFAED;
    --peach: #FBEAE5;
    --avocado: #EFFAE3;
    --yam: #E7F4FF;
    /* backgerounds and dividers */
    --marble: #AAADB0;
    --platinum: #F1F4F6;
    --porcelain: #FCFCFC;

    --main-font: Helvetica, bold, sans-serif;
    --helvetica:  'Helvetica Neue', Helvetica, Arial, sans-serif;
    --fjalla:   'Fjalla One', Arial, sans-serif;
}

body {
    font: helvetica, bold;
    font-family: var(--helvetica)
}

/* text classes */
.txt-bold{
    font-weight: bold;
}
.txt-xxs {
    font-family: var(--helvetica);
    font-size: 0.75em;
    line-height: 16px;
    font-weight: normal;
}
.txt-xs {
    font-family: var(--helvetica);
    font-size: 0.875em;
    line-height: 16px;
    font-weight: normal;
}
.txt-sm {
    font-family: var(--helvetica);
    font-size: 1em;
    line-height: 22px;
    font-weight: normal;
}
.txt-med {
    font-family: var(--helvetica);
    font-size: 1.25em;
    line-height: 28px;
    font-weight: normal;
}
.txt-lg {
    font-family: var(--fjalla);
    font-size: 1.5em;
    line-height: 32px;
    font-weight: normal;
}
.txt-xl {
    font-family: var(--fjalla);
    font-size: 2em;
    line-height: 44px;
    font-weight: normal;
}
.txt-xxl {
    font-family: var(--fjalla);
    font-size: 2.8em;
    line-height: 54px;
    font-weight: normal;
    letter-spacing: 0.025em;
}
