:root {
    /* primary colours */
    --amphora-red: #bc312a;
    --amphora-black: #181717;
    --amphora-white: #fffefd;
    /* secondary */
    --turquoise: #5aa6c0;
    --blue-garnet: #0a789e;
    --pearl: #cfd2d6;
    /* text colours */
    --ebony: #222222;
    --stone: #696464;
    /* messaging and alerts */
    --mandarin: #f68d00;
    --plum: #e7140d;
    --apple: #399b1e;
    --berry: #057ed1;
    /* messaging and alert pastels */
    --pear: #fffaed;
    --peach: #fbeae5;
    --avocado: #effae3;
    --yam: #e7f4ff;
    /* backgerounds and dividers */
    --marble: #aaadb0;
    --platinum: #f1f4f6;
    --porcelain: #fcfcfc;
    --main-font: Helvetica, bold, sans-serif;
    --helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --fjalla: "Fjalla One", Arial, sans-serif;
}

body {
    font: helvetica, bold;
    font-family: var(--helvetica);
    color: var(--ebony);
}

input {
    background-color: var(--amphora-white);
}

/* TEXT CLASSES */

/* fonts */

.txt-bold {
    font-weight: bold !important;
}

.txt-xxs {
    font-family: var(--helvetica);
    font-size: 0.75em;
    line-height: 16px;
    font-weight: normal;
}

.txt-xs {
    font-family: var(--helvetica);
    font-size: 0.875em;
    line-height: 16px;
    font-weight: normal;
}

.txt-sm {
    font-family: var(--helvetica);
    font-size: 1em;
    line-height: 22px;
    font-weight: normal;
}

.txt-med {
    font-family: var(--helvetica);
    font-size: 1.25em;
    line-height: 28px;
    font-weight: normal;
}

.txt-lg {
    font-family: var(--fjalla);
    font-size: 1.5em;
    line-height: 32px;
    font-weight: normal;
}

.txt-xl {
    font-family: var(--fjalla);
    font-size: 2em;
    line-height: 44px;
    font-weight: normal;
}

.txt-xxl {
    font-family: var(--fjalla);
    font-size: 2.8em;
    line-height: 54px;
    font-weight: normal;
    letter-spacing: 0.01em;
}

/* colours */

.txt-ebony {
    color: var(--ebony);
}
