@page
@model Amphora.Api.Areas.Organisations.Pages.TermsOfUse.CreateModel

@{
    ViewData["Title"] = Model.Organisation.Name + " Create T&C";
}

<div class="container">
    @if(Model.Success == true)
    {
        <div class="alert alert-success" role="alert">
            Saved
        </div>
    }
    else if(Model.Success == false)
    {
        <div class="alert alert-danger" role="alert">
            Something went wrong...
        </div>
    }
    <div class="row">
        <div class="col">
            <h2>New Terms of Use</h2>
            <small>Data users must agree to these terms when they are applied to their Amphora</small>
            <form method="post" asp-route-id="@Model.Organisation.Id">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="TermsOfUse.Name" class="control-label"></label>
                            <input asp-for="TermsOfUse.Name" class="form-control" />
                            <span asp-validation-for="TermsOfUse.Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="TermsOfUse.Contents" class="control-label"></label>
                    <textarea asp-for="TermsOfUse.Contents" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="TermsOfUse.Contents" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
            <a asp-page="./Index" asp-route-id="@Model.Organisation.Id"><button class="btn btn-secondary">Cancel</button></a>
        </div>
    </div>
</div>