@page
@model Amphora.Api.Areas.Organisations.Pages.TermsOfUse.IndexModel

@{
    ViewData["Title"] = $"{Model.Organisation.Name}: T&C";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="btn-group float-right">
                <a class="btn btn-secondary" asp-area="Amphorae" asp-page="/Index">Manage Amphora</a>
                <a class="btn btn-primary" asp-page="./Create" asp-route-id="@Model.Organisation.Id">New Terms</a>
            </div>
            <div>
                <h2>Terms of Use Library</h2>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row mt-2 justify-content-center">
        <div class="col-10">
            @if(Model.Organisation.TermsOfUses != null)
            {
                @foreach (var tnc in Model.Organisation.TermsOfUses)
                {
                    <div class="row">
                        <div class="col">
                            <i class="fas fa-file-contract mr-2"></i>
                            <a asp-area="Amphorae" asp-page="/TermsOfUse/Detail" asp-route-id="@tnc.Id">@tnc.Name</a>
                        </div>
                        <div class="col">
                            Id = @tnc.Id
                        </div>
                    </div>


                }
            }


        </div>
    </div>
</div>