@using System.Security.Claims
@using Amphora.Common.Extensions
@using Amphora.Common.Models.Options
@using Amphora.Common.Models.Platform
@using Microsoft.Extensions.Configuration
@using Microsoft.Extensions.Options
@using IdentityServer4.Extensions

@inject IOptionsMonitor<ExternalServices> externalServicesOptions
@inject IConfiguration Configuration

@{
    string? name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
    Func<ClaimsPrincipal, Task<string>> profileUrl = (p) => Task.FromResult(p.GetProfilePictureUri()?.ToString()+"?s=180");
    Func<ClaimsPrincipal, Task<bool>> isAdminGlobal = (p) => (Task.FromResult(p.IsGlobalAdmin()));
    var returnUrl = Context.Request.Query["returnUrl"].FirstOrDefault()?.ToString() 
        ?? externalServicesOptions.CurrentValue.WebAppUri().ToStandardString() + "/Challenge";
    var googleTrackingId = Configuration.GetSection("GoogleAnalytics")["TrackingId"];
    var segmentTrackingId = Configuration.GetSection("Segment")["TrackingId"];
    string id = "";
    dynamic traits = new {};
    var isAuthenticated = User?.Identity?.IsAuthenticated ?? false;
    if (User != null && isAuthenticated)
    {
        id = User.Claims.First(x => x.Type == ClaimTypes.NameIdentifier).Value;
        var uName = User.Claims.First(x => x.Type == ClaimTypes.Name).Value;
        traits = new {username = name, email = name};
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Amphora Data</title>
    <link rel="icon" type="image/x-icon" href="~/_content/sharedui/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/_content/sharedui/favicon.ico" />
    

    <environment include="Development">
        <link rel="stylesheet" href="~/_content/sharedui/lib/font-awesome/css/all.css" />
        <link rel="stylesheet" href="~/_content/sharedui/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/_content/sharedui/lib/font-awesome/css/all.min.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            asp-fallback-href="~/_content/sharedui/lib/bootstrap/dist/css/bootstrap.min.css"
            asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
            crossorigin="anonymous"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"/>

        @await Html.PartialAsync("_GoogleAnalyticsPartial", new Amphora.SharedUI.Models.GoogleAnalyticsModel(googleTrackingId))
    </environment>

    <link rel="stylesheet" href="~/_content/sharedui/css/login.css" />
    <link rel="stylesheet"  href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap" />
    <link rel="stylesheet" href="~/css/site.css" />

    <script>
        @* Segment Tracking *@
        !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on","addSourceMiddleware","addIntegrationMiddleware","setAnonymousId","addDestinationMiddleware"];analytics.factory=function(e){return function(){var t=Array.prototype.slice.call(arguments);t.unshift(e);analytics.push(t);return analytics}};for(var e=0;e<analytics.methods.length;e++){var key=analytics.methods[e];analytics[key]=analytics.factory(key)}analytics.load=function(key,e){var t=document.createElement("script");t.type="text/javascript";t.async=!0;t.src="https://cdn.segment.com/analytics.js/v1/" + key + "/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.13.1";
        analytics.load('@segmentTrackingId');
        @if (isAuthenticated)
        {
            @:analytics.identify('@id', @Json.Serialize(traits));
        }
        analytics.page();
        }}();
    </script>
</head>
<body>
    <div class="bg-login">
        <main role="main" class="h-100">
            @RenderBody()
        </main>
    </div>
    @{
        var envInfo = new EnvironmentInfo();
        Configuration.GetSection("Environment").Bind(envInfo);
    }

    <environment include="Development">
        <script src="~/_content/sharedui/lib/jquery/dist/jquery.js"></script>
        <script src="~/_content/sharedui/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/_content/sharedui/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/_content/sharedui/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>